# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# ML / Data
mlruns/
mlflow.db
*.pth
*.pt
*.onnx
data/
!app/models/.gitkeep
optuna_exp3.db
test.db
reports/
app/models/champion.json

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Coverage / Test
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/

# Streamlit
.streamlit/secrets.toml
